@mixin calculator {
  .calculator {
    @include flex-column;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1.5rem;
    background-color: #424242;
    @content;
  }
}
